<h2> About the app </h2>

<div class="container">
    <h5> This is a Friends Listing Web Application, made for keeping records of all the friends of "Abhishek Mishra"
    </h5>
</div>
    <h4>Tech Stack Used</h4>
    <ul>
        <li>
            React JS
        </li>
        <li>
            Ruby On Rails
        </li>
        <li>
            Bootstrap
        </li>
    </ul>
