<br />
<div class="card">
    <h3 class="card-header">About the App</h3>
    <div class="card-body">
        <h5 class="card-title">Maintain all records of your friends!</h5>
        <p class="card-text">
            This is a Friends Listing Web Application, made for keeping records of all the friends of users logged in
        </p>

        <h5>Tech Stack Used</h5>
        <ul>
            <li>
                React JS
            </li>
            <li>
                Ruby On Rails
            </li>
            <li>
                Bootstrap
            </li>
        </ul>
    </div>
</div>